In [1]:
%run ../yp_utils.py

# Initial setup

In [2]:
paper_pmid = 20695822
paper_name = 'landstetter_kuchler_2010'

In [3]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [4]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [8]:
original_data = pd.read_excel('raw_data/Supp_Table2.xlsx', sheet_name='Sheet1', skiprows=4)

In [9]:
print('Original data dimensions: %d x %d' % (original_data.shape))

Original data dimensions: 167 x 4

In [10]:
original_data.head()

   Unnamed: 0 Transport Unnamed: 2                          Unnamed: 3
0         1.0   YAL002W       VPS8  late endosome to vacuole transport
1         2.0   YJR102C      VPS25                telomere maintenance
2         3.0   YMR231W       PEP5       vacuole fusion, nonautophagic
3         4.0   YNL246W      VPS75                telomere maintenance
4         5.0   YOR036W      PEP12          Golgi to vacuole transport

In [11]:
original_data['orf'] = original_data['Transport'].astype(str)

In [12]:
# Eliminate all white spaces & capitalize
original_data['orf'] = clean_orf(original_data['orf'])

In [13]:
# Translate to ORFs 
original_data['orf'] = translate_sc(original_data['orf'], to='orf')

In [14]:
# Make sure everything translated ok
t = looks_like_orf(original_data['orf'])
print(original_data.loc[~t,])

             Unnamed: 0                                          Transport  \
index_input
23                  NaN                                                NaN
24                  NaN                             vacuolar acidification
36                  NaN                                                NaN
37                  NaN                              mitochondrium related
61                  NaN                                                NaN
62                  NaN  chromatin / telomere / transcription / transla...
88                  NaN                                                NaN
89                  NaN                                              Other
114                 NaN                                                NaN
115                 NaN                               protein modification
126                 NaN                                                NaN
127                 NaN                                     Rim101 pathway
134                 NaN                                                NaN
135                 NaN                                            unknown
149                 NaN                                                NaN
150                 NaN                                           Excluded
155                 NaN                                                NaN
156                 NaN                                                NaN
157                 NaN                               No. genes / category
158                 NaN                                                 24
159                 NaN                                                 11
160                 NaN                                                 23
161                 NaN                                                 24
162                 NaN                                                 10
163                 NaN                                                  6
164                 NaN                                                 24
165                 NaN                                                 13
166                 NaN                                                  4

                                                    Unnamed: 2  \
index_input
23                                                         NaN
24                                                         NaN
36                                                         NaN
37                                                         NaN
61                                                         NaN
62                                                         NaN
88                                                         NaN
89                                                         NaN
114                                                        NaN
115                                                        NaN
126                                                        NaN
127                                                        NaN
134                                                        NaN
135                                                        NaN
149                                                        NaN
150                                                        NaN
155                                                        NaN
156                                                        NaN
157                                      Functional categories
158                                                  Transport
159                                     vacuolar acidification
160                   mitochondria organization / maintainance
161          chromatin / telomere / transcription / transla...
162                                       protein modification
163                                             Rim101 pathway
164                                                      Other
165                                                    Unknown
166                                                   Excluded

                                                    Unnamed: 3  \
index_input
23                                                         NaN
24                                                         NaN
36                                                         NaN
37                                                         NaN
61                                                         NaN
62                                                         NaN
88                                                         NaN
89                                                         NaN
114                                                        NaN
115                                                        NaN
126                                                        NaN
127                                                        NaN
134                                                        NaN
135                                                        NaN
149                                                        NaN
150                                                        NaN
155                                                        NaN
156                                                        NaN
157                                                 Gene names
158          VPS8, VPS25, PEP5, VPS75, PEP12, VAM3, VPS24, ...
159          VMA8, VMA22, VMA2, TFP1, VMA7, VMA21, PPA1, VM...
160          MRPL33, MRPL51, MRPL36, MRPL32, MRPL7, MRPL25,...
161          NUP60, RPB4, SWI3, SNF7, URE2, SIN4, TAF14, BE...
162          EOS1, CTK3, BUD32, DBF2, GIN4, SPS1, ATE1, OST...
163                      RIM101, RIM13, RIM9, DID4, VPS4, RIM8
164          SPO7, TSA1, HOF1, PFK2, YMR293C, FMP38, PIM1, ...
165          YML013C-A, YPR109W, YMR073C, YOL087C, KRE28, Y...
166                            OPI9, YLR358C, YPR099C, YKL118W

                                                   orf
index_input
23                                                 NAN
24                               VACUOLARACIDIFICATION
36                                                 NAN
37                                MITOCHONDRIUMRELATED
61                                                 NAN
62           CHROMATINTELOMERETRANSCRIPTIONTRANSLATION
88                                                 NAN
89                                               OTHER
114                                                NAN
115                                PROTEINMODIFICATION
126                                                NAN
127                                      RIM101PATHWAY
134                                                NAN
135                                            UNKNOWN
149                                                NAN
150                                           EXCLUDED
155                                                NAN
156                                                NAN
157                                    NOGENESCATEGORY
158                                                 24
159                                                 11
160                                                 23
161                                                 24
162                                                 10
163                                                  6
164                                                 24
165                                                 13
166                                                  4

In [15]:
original_data = original_data.loc[t,:]

In [16]:
original_data['data'] = -1

In [17]:
original_data.set_index('orf', inplace=True)

In [18]:
original_data = original_data[['data']].copy()

In [19]:
original_data = original_data.groupby(original_data.index).mean()

In [20]:
original_data.shape

(139, 1)

# Load & process tested strains

In [21]:
tested = pd.read_excel('raw_data/Yeast_deletions_set.xlsx', sheet_name='Stammliste')

In [22]:
tested.head()

   record #      ORF  strain   batch row  col comments slow growth? batch.1
0     338.0  YAL068C  BY4741  chr1_1   A  2.0      NaN          NaN  chr1_1
1     339.0  YAL067C  BY4741  chr1_1   A  3.0      NaN          NaN  chr1_1
2     340.0  YAL066W  BY4741  chr1_1   A  4.0      NaN          NaN  chr1_1
3     341.0  YAL065C  BY4741  chr1_1   A  5.0      NaN          NaN  chr1_1
4     345.0  YAL062W  BY4741  chr1_1   A  9.0      NaN          NaN  chr1_1

In [24]:
tested['orf'] = tested['ORF'].astype(str)

In [25]:
tested['orf'] = clean_orf(tested['orf'])

In [26]:
tested['orf'] = translate_sc(tested['orf'], to='orf')

In [27]:
# Make sure everything translated ok
t = looks_like_orf(tested['orf'])
print(tested.loc[~t,])

             record #  ORF strain batch  row  col comments slow growth?  \
index_input
1527              NaN  NaN    NaN   NaN  NaN  NaN      NaN          NaN
3144              NaN  NaN    NaN   NaN  NaN  NaN      NaN          NaN

            batch.1  orf
index_input
1527            NaN  NAN
3144            NaN  NAN

In [28]:
tested = tested.loc[t,:]

In [29]:
tested_orfs = tested['orf'].unique()

In [30]:
missing = [orf for orf in original_data.index.values if orf not in tested_orfs]
missing

[]

In [31]:
original_data = original_data.reindex(index=tested_orfs, fill_value=0)

# Prepare the final dataset

In [32]:
data = original_data.copy()

In [33]:
dataset_ids = [152]
datasets = datasets.reindex(index=dataset_ids)

In [34]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [35]:
data.head()

dataset_id   152
data_type  value
orf
YAL068C        0
YAL067C        0
YAL066W        0
YAL065C        0
YAL062W        0

## Subset to the genes currently in SGD

In [36]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 22

In [37]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id        152
data_type       value
gene_id orf
1869    YAL068C     0
61      YAL067C     0
60      YAL066W     0
1727    YAL065C     0
57      YAL062W     0

# Normalize

In [38]:
data_norm = normalize_phenotypic_scores(data, has_tested=True)

In [39]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [40]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id        152
data_type       value valuez
gene_id orf
1869    YAL068C     0    0.0
61      YAL067C     0    0.0
60      YAL066W     0    0.0
1727    YAL065C     0    0.0
57      YAL062W     0    0.0

# Print out

In [41]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [42]:
from IO.save_data_to_db3 import *

In [43]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/1 [00:00<?, ?it/s]

Deleting all datasets for PMID 20695822...
Inserting the new data...

100%|██████████| 1/1 [00:08<00:00,  8.42s/it]

Updating the data_modified_on field...