In [1]:
%run ../../Utils/yp_utils.py

# Initial setup

In [2]:
paper_pmid = 14871844
paper_name = 'aouida_ramotar_2004'

In [3]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [4]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [8]:
original_data = pd.read_excel('raw_data/CAN_2-1-04_Aouida.xlsx', sheet_name='Sheet1', header=None)

In [9]:
print('Original data dimensions: %d x %d' % (original_data.shape))

Original data dimensions: 236 x 2

In [10]:
original_data.head()

          0       1
0  YBR101C    R+++
1  YJR059W    R+++
2  YBR132C   R++++
3  YGL007W   R++++
4  YMR216C   R++++

In [11]:
original_data['orf'] = original_data[0].astype(str)

In [12]:
# Eliminate all white spaces & capitalize
original_data['orf'] = clean_orf(original_data['orf'])

In [13]:
# Translate to ORFs 
original_data['orf'] = translate_sc(original_data['orf'], to='orf')

In [14]:
# Make sure everything translated ok
t = looks_like_orf(original_data['orf'])
print(original_data.loc[~t,])

Empty DataFrame
Columns: [0, 1, orf]
Index: []

In [15]:
data_switch = {'R+++': 9, 'R++++': 10, 'S+': -1, 'S++': -2, 'S+++': -3, 'S++++': -4}

In [17]:
original_data['data'] = original_data[1].apply(lambda x: data_switch[x.strip('\xa0')])

In [18]:
original_data.set_index('orf', inplace=True)

In [19]:
original_data = original_data[['data']].copy()

In [20]:
original_data = original_data.groupby(original_data.index).mean()

In [21]:
original_data.shape

(236, 1)

# Load & process tested strains

In [25]:
tested = pd.read_excel('raw_data/HU haploid.xlsx', sheet_name='Sheet1', skiprows=2)

In [26]:
tested.head()

,Plate,row,col,record #,ORF,strain,Euroscarf comments,Euroscarf growth comment,Freezing comments,Duplication in our collection,Unnamed: 10,Single on HU,gene name(s),brief id (fromSGD)
0,1,A,1,338.0,YAL068C,BY4741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"biological_process unknown, molecular_function..."
1,1,A,2,339.0,YAL067C,BY4741,NaN,NaN,NaN,NaN,NaN,NaN,SEO1,putative permease
2,1,A,3,340.0,YAL066W,BY4741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"biological_process unknown, molecular_function..."
3,1,A,4,341.0,YAL065C,BY4741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"biological_process unknown, molecular_function..."
4,1,A,5,345.0,YAL062W,BY4741,NaN,NaN,NaN,NaN,NaN,NaN,"GDH3, FUN51","NADP-linked glutamate dehydrogenase,glutamate ..."

In [27]:
tested['orf'] = tested['ORF'].astype(str)

In [28]:
tested['orf'] = clean_orf(tested['orf'])

In [29]:
tested['orf'] = translate_sc(tested['orf'], to='orf')

In [30]:
# Make sure everything translated ok
t = looks_like_orf(tested['orf'])
print(tested.loc[~t,])

             Plate row  col  record #  ORF strain Euroscarf comments  \
index_input
1524            16   H    1       NaN  NaN    NaN                NaN
1525            16   H    2       NaN  NaN    NaN                NaN
1526            16   H    3       NaN  NaN    NaN                NaN
1527            16   H    4       NaN  NaN    NaN                NaN
1528            16   H    5       NaN  NaN    NaN                NaN
1529            16   H    6       NaN  NaN    NaN                NaN
1530            16   H    7       NaN  NaN    NaN                NaN
1531            16   H    8       NaN  NaN    NaN                NaN
1532            16   H    9       NaN  NaN    NaN                NaN
1533            16   H   10       NaN  NaN    NaN                NaN
1534            16   H   11       NaN  NaN    NaN                NaN
1535            16   H   12       NaN  NaN    NaN                NaN
3715            39   F    9       NaN  NaN    NaN                NaN
4867            51   F   10       NaN  NaN    NaN                NaN
4868            51   F   11       NaN  NaN    NaN                NaN
4869            51   F   12       NaN  NaN    NaN                NaN
4870            51   G    1       NaN  NaN    NaN                NaN
4871            51   G    2       NaN  NaN    NaN                NaN
4872            51   G    3       NaN  NaN    NaN                NaN
4873            51   G    4       NaN  NaN    NaN                NaN
4874            51   G    5       NaN  NaN    NaN                NaN
4875            51   G    6       NaN  NaN    NaN                NaN
4876            51   G    7       NaN  NaN    NaN                NaN
4877            51   G    8       NaN  NaN    NaN                NaN
4878            51   G    9       NaN  NaN    NaN                NaN
4879            51   G   10       NaN  NaN    NaN                NaN
4880            51   G   11       NaN  NaN    NaN                NaN
4881            51   G   12       NaN  NaN    NaN                NaN
4882            51   H    1       NaN  NaN    NaN                NaN
4883            51   H    2       NaN  NaN    NaN                NaN
4884            51   H    3       NaN  NaN    NaN                NaN
4885            51   H    4       NaN  NaN    NaN                NaN
4886            51   H    5       NaN  NaN    NaN                NaN
4887            51   H    6       NaN  NaN    NaN                NaN
4888            51   H    7       NaN  NaN    NaN                NaN
4889            51   H    8       NaN  NaN    NaN                NaN
4890            51   H    9       NaN  NaN    NaN                NaN
4891            51   H   10       NaN  NaN    NaN                NaN
4892            51   H   11       NaN  NaN    NaN                NaN
4893            51   H   12       NaN  NaN    NaN                NaN

            Euroscarf growth comment  \
index_input
1524                             NaN
1525                             NaN
1526                             NaN
1527                             NaN
1528                             NaN
1529                             NaN
1530                             NaN
1531                             NaN
1532                             NaN
1533                             NaN
1534                             NaN
1535                             NaN
3715                             NaN
4867                             NaN
4868                             NaN
4869                             NaN
4870                             NaN
4871                             NaN
4872                             NaN
4873                             NaN
4874                             NaN
4875                             NaN
4876                             NaN
4877                             NaN
4878                             NaN
4879                             NaN
4880                             NaN
4881                             NaN
4882                             NaN
4883                             NaN
4884                             NaN
4885                             NaN
4886                             NaN
4887                             NaN
4888                             NaN
4889                             NaN
4890                             NaN
4891                             NaN
4892                             NaN
4893                             NaN

                                             Freezing comments  \
index_input
1524                <<<<----- empty space in our ko collection
1525                <<<<----- empty space in our ko collection
1526                <<<<----- empty space in our ko collection
1527                <<<<----- empty space in our ko collection
1528                <<<<----- empty space in our ko collection
1529                <<<<----- empty space in our ko collection
1530                <<<<----- empty space in our ko collection
1531                <<<<----- empty space in our ko collection
1532                <<<<----- empty space in our ko collection
1533                <<<<----- empty space in our ko collection
1534                <<<<----- empty space in our ko collection
1535                <<<<----- empty space in our ko collection
3715         <<<<---- The strain at position 39F9 (chr2_3 E...
4867                                                       NaN
4868                                                       NaN
4869                                                       NaN
4870                                                       NaN
4871                                                       NaN
4872                                                       NaN
4873                                                       NaN
4874                                                       NaN
4875                                                       NaN
4876                                                       NaN
4877                                                       NaN
4878                                                       NaN
4879                                                       NaN
4880                                                       NaN
4881                                                       NaN
4882                                                       NaN
4883                                                       NaN
4884                                                       NaN
4885                                                       NaN
4886                                                       NaN
4887                                                       NaN
4888                                                       NaN
4889                                                       NaN
4890                                                       NaN
4891                                                       NaN
4892                                                       NaN
4893                                                       NaN

            Duplication in our collection  Unnamed: 10 Single on HU  \
index_input
1524                                  NaN          NaN          NaN
1525                                  NaN          NaN          NaN
1526                                  NaN          NaN          NaN
1527                                  NaN          NaN           ss
1528                                  NaN          NaN          NaN
1529                                  NaN          NaN          NaN
1530                                  NaN          NaN          NaN
1531                                  NaN          NaN          NaN
1532                                  NaN          NaN          NaN
1533                                  NaN          NaN          NaN
1534                                  NaN          NaN          NaN
1535                                  NaN          NaN          NaN
3715                                  NaN          NaN           ss
4867                                  NaN          NaN          NaN
4868                                  NaN          NaN          NaN
4869                                  NaN          NaN          NaN
4870                                  NaN          NaN          NaN
4871                                  NaN          NaN          NaN
4872                                  NaN          NaN          NaN
4873                                  NaN          NaN          NaN
4874                                  NaN          NaN          NaN
4875                                  NaN          NaN          NaN
4876                                  NaN          NaN          NaN
4877                                  NaN          NaN          NaN
4878                                  NaN          NaN          NaN
4879                                  NaN          NaN          NaN
4880                                  NaN          NaN          NaN
4881                                  NaN          NaN          NaN
4882                                  NaN          NaN          NaN
4883                                  NaN          NaN          NaN
4884                                  NaN          NaN          NaN
4885                                  NaN          NaN          NaN
4886                                  NaN          NaN          NaN
4887                                  NaN          NaN          NaN
4888                                  NaN          NaN          NaN
4889                                  NaN          NaN          NaN
4890                                  NaN          NaN          NaN
4891                                  NaN          NaN          NaN
4892                                  NaN          NaN          NaN
4893                                  NaN          NaN          NaN

            gene name(s) brief id (fromSGD)  orf
index_input
1524                 NaN                NaN  NAN
1525                 NaN                NaN  NAN
1526                 NaN                NaN  NAN
1527                 NaN                NaN  NAN
1528                 NaN                NaN  NAN
1529                 NaN                NaN  NAN
1530                 NaN                NaN  NAN
1531                 NaN                NaN  NAN
1532                 NaN                NaN  NAN
1533                 NaN                NaN  NAN
1534                 NaN                NaN  NAN
1535                 NaN                NaN  NAN
3715                 NaN                NaN  NAN
4867                 NaN                NaN  NAN
4868                 NaN                NaN  NAN
4869                 NaN                NaN  NAN
4870                 NaN                NaN  NAN
4871                 NaN                NaN  NAN
4872                 NaN                NaN  NAN
4873                 NaN                NaN  NAN
4874                 NaN                NaN  NAN
4875                 NaN                NaN  NAN
4876                 NaN                NaN  NAN
4877                 NaN                NaN  NAN
4878                 NaN                NaN  NAN
4879                 NaN                NaN  NAN
4880                 NaN                NaN  NAN
4881                 NaN                NaN  NAN
4882                 NaN                NaN  NAN
4883                 NaN                NaN  NAN
4884                 NaN                NaN  NAN
4885                 NaN                NaN  NAN
4886                 NaN                NaN  NAN
4887                 NaN                NaN  NAN
4888                 NaN                NaN  NAN
4889                 NaN                NaN  NAN
4890                 NaN                NaN  NAN
4891                 NaN                NaN  NAN
4892                 NaN                NaN  NAN
4893                 NaN                NaN  NAN

In [31]:
tested = tested.loc[t,:]

In [32]:
tested_orfs = tested['orf'].unique()

In [33]:
missing = [orf for orf in original_data.index.values if orf not in tested_orfs]
missing

[]

In [34]:
original_data = original_data.reindex(index=tested_orfs, fill_value=0)

# Prepare the final dataset

In [35]:
data = original_data.copy()

In [36]:
dataset_ids = [96]
datasets = datasets.reindex(index=dataset_ids)

In [37]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [38]:
data.head()

dataset_id    96
data_type  value
orf
YAL068C        0
YAL067C        0
YAL066W        0
YAL065C        0
YAL062W        0

## Subset to the genes currently in SGD

In [39]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 22

In [40]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id         96
data_type       value
gene_id orf
1869    YAL068C     0
61      YAL067C     0
60      YAL066W     0
1727    YAL065C     0
57      YAL062W     0

# Normalize

In [41]:
data_norm = normalize_phenotypic_scores(data, has_tested=True)

In [42]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [43]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id         96
data_type       value    valuez
gene_id orf
1869    YAL068C     0  0.052724
61      YAL067C     0  0.052724
60      YAL066W     0  0.052724
1727    YAL065C     0  0.052724
57      YAL062W     0  0.052724

# Print out

In [44]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [45]:
from IO.save_data_to_db3 import *

In [46]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/1 [00:00<?, ?it/s]

Deleting all datasets for PMID 14871844...
Inserting the new data...

100%|██████████| 1/1 [00:08<00:00,  8.08s/it]

Updating the data_modified_on field...