In [1]:
%run ../yp_utils.py

# Initial setup

In [2]:
paper_pmid = 17785683
paper_name = 'jo_vulpe_2007'

In [3]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [4]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [5]:
files = ['toxsci-07-0195-File012_kfm226.xlsx','toxsci-07-0195-File013_kfm226.xlsx']

In [10]:
original_data_list = []
for f in files:
    original_data = pd.read_excel('raw_data/' + f, sheet_name='Table 1', skiprows=1)
    print('Original data dimensions: %d x %d' % (original_data.shape))
#     print(original_data.head())
    
    original_data['orf'] = original_data['Systematic\nName'].astype(str)
    original_data['orf'] = clean_orf(original_data['orf'])
    original_data['orf'] = translate_sc(original_data['orf'], to='orf')
    
    # Make sure everything translated ok
    t = looks_like_orf(original_data['orf'])
    print(original_data.loc[~t,])
    original_data = original_data.loc[t,:]
    
    original_data['data'] = original_data['Fitness\nScorea'].astype(float)
    original_data.set_index('orf', inplace=True)
    original_data = original_data[['data']].copy()
    original_data = original_data.groupby(original_data.index).mean()
    print(original_data.shape)
    
    original_data_list.append(original_data)

Original data dimensions: 94 x 8
                                              Systematic\nName  \
index_input
9                                                          NaN
10                                                         NaN
21                                                         NaN
28                                                         NaN
29                                                         NaN
30                                                         NaN
31                                                         NaN
41                                                         NaN
45                                                         NaN
56                                                         NaN
57                                                         NaN
58                                                         NaN
65                                                         NaN
68                                                         NaN
71                                                         NaN
77                                                         NaN
90           a The fitness score is a measure of the relati...
91           b Information for homologous genes in humans w...
92           c The expect threshold (E-value) represents th...
93           d Gene name as indicated by the HUGO Gene Nome...

            Standard\nGene Name Alias  Fitness\nScorea  \
index_input
9                           NaN   NaN              NaN
10                          NaN   NaN              NaN
21                          NaN   NaN              NaN
28                          NaN   NaN              NaN
29                          NaN   NaN              NaN
30                          NaN   NaN              NaN
31                          NaN   NaN              NaN
41                          NaN   NaN              NaN
45                          NaN   NaN              NaN
56                          NaN   NaN              NaN
57                          NaN   NaN              NaN
58                          NaN   NaN              NaN
65                          NaN   NaN              NaN
68                          NaN   NaN              NaN
71                          NaN   NaN              NaN
77                          NaN   NaN              NaN
90                          NaN   NaN              NaN
91                          NaN   NaN              NaN
92                          NaN   NaN              NaN
93                          NaN   NaN              NaN

            Human Best Hitb\nEnsembl Peptide ID  Ln (E-value)c  \
index_input
9                               ENSP00000355565   1.000000e-20
10                              ENSP00000354765   1.000000e-20
21                              ENSP00000304504   1.000000e-09
28                              ENSP00000361430   4.000000e-18
29                              ENSP00000361435   4.000000e-18
30                              ENSP00000336696   4.000000e-18
31                              ENSP00000354074   4.000000e-18
41                              ENSP00000357876            NaN
45                              ENSP00000370484   6.000000e-09
56                              ENSP00000371400   2.000000e-93
57                              ENSP00000341595   2.000000e-93
58                              ENSP00000339247   2.000000e-93
65                              ENSP00000354931   3.000000e-06
68                              ENSP00000364060   3.000000e-09
71                              ENSP00000363054   1.000000e-04
77                              ENSP00000277804   4.000000e-18
90                                          NaN            NaN
91                                          NaN            NaN
92                                          NaN            NaN
93                                          NaN            NaN

             Ensembl Gene ID HGNC Gene\nNamed  \
index_input
9            ENSG00000188739            RBM34
10           ENSG00000188739            RBM34
21           ENSG00000102158              NaN
28           ENSG00000138326            RPS24
29           ENSG00000138326            RPS24
30           ENSG00000138326            RPS24
31           ENSG00000138326            RPS24
41           ENSG00000159352              NaN
45           ENSG00000108590            MED31
56           ENSG00000101266          CSNK2A1
57           ENSG00000101266          CSNK2A1
58           ENSG00000101266          CSNK2A1
65           ENSG00000198917         C9orf114
68           ENSG00000188021           UBQLN2
71           ENSG00000117758            STX12
77           ENSG00000107625            DDX50
90                       NaN              NaN
91                       NaN              NaN
92                       NaN              NaN
93                       NaN              NaN

                                                           orf
index_input
9                                                          NAN
10                                                         NAN
21                                                         NAN
28                                                         NAN
29                                                         NAN
30                                                         NAN
31                                                         NAN
41                                                         NAN
45                                                         NAN
56                                                         NAN
57                                                         NAN
58                                                         NAN
65                                                         NAN
68                                                         NAN
71                                                         NAN
77                                                         NAN
90           ATHEFITNESSSCOREISAMEASUREOFTHERELATIVEGROWTHO...
91           BINFORMATIONFORHOMOLOGOUSGENESINHUMANSWASOBTAI...
92           CTHEEXPECTTHRESHOLDE-VALUEREPRESENTSTHENUMBERO...
93           DGENENAMEASINDICATEDBYTHEHUGOGENENOMENCLATUREC...
(74, 1)
Original data dimensions: 233 x 8
                                              Systematic\nName  \
index_input
11                                                         NaN
23                                                         NaN
24                                                         NaN
25                                                         NaN
30                                                         NaN
32                                                         NaN
34                                                         NaN
39                                                         NaN
72                                                         NaN
80                                                         NaN
97                                                         NaN
99                                                         NaN
114                                                        NaN
123                                                        NaN
126                                                        NaN
137                                                        NaN
141                                                        NaN
142                                                        NaN
146                                                        NaN
158                                                        NaN
179                                                        NaN
180                                                        NaN
200                                                        NaN
209                                                        NaN
210                                                        NaN
211                                                        NaN
212                                                        NaN
213                                                        NaN
220                                                        NaN
229          a The fitness score is a measure of the relati...
230          b Information for homologous genes in humans w...
231          c The expect threshold (E-value) represents th...
232          d Gene name as indicated by the HUGO Gene Nome...

            Standard\nGene Name Alias  Fitness\nScorea  \
index_input
11                          NaN   NaN              NaN
23                          NaN   NaN              NaN
24                          NaN   NaN              NaN
25                          NaN   NaN              NaN
30                          NaN   NaN              NaN
32                          NaN   NaN              NaN
34                          NaN   NaN              NaN
39                          NaN   NaN              NaN
72                          NaN   NaN              NaN
80                          NaN   NaN              NaN
97                          NaN   NaN              NaN
99                          NaN   NaN              NaN
114                         NaN   NaN              NaN
123                         NaN   NaN              NaN
126                         NaN   NaN              NaN
137                         NaN   NaN              NaN
141                         NaN   NaN              NaN
142                         NaN   NaN              NaN
146                         NaN   NaN              NaN
158                         NaN   NaN              NaN
179                         NaN   NaN              NaN
180                         NaN   NaN              NaN
200                         NaN   NaN              NaN
209                         NaN   NaN              NaN
210                         NaN   NaN              NaN
211                         NaN   NaN              NaN
212                         NaN   NaN              NaN
213                         NaN   NaN              NaN
220                         NaN   NaN              NaN
229                         NaN   NaN              NaN
230                         NaN   NaN              NaN
231                         NaN   NaN              NaN
232                         NaN   NaN              NaN

            Human Best Hitb\nEnsembl Peptide ID  Ln (E-value)c  \
index_input
11                              ENSP00000371591            NaN
23                                          NaN            NaN
24                              ENSP00000372257   2.000000e-11
25                                          NaN            NaN
30                                          NaN            NaN
32                                          NaN            NaN
34                              ENSP00000362480   9.000000e-51
39                              ENSP00000360576   3.000000e-09
72                              ENSP00000352746            NaN
80                              ENSP00000223136   1.000000e-06
97                              ENSP00000369876  1.000000e-125
99                              ENSP00000368916   1.000000e-12
114                             ENSP00000370208   3.000000e-19
123                             ENSP00000347646   2.000000e-05
126                             ENSP00000339883   3.000000e-37
137                             ENSP00000368183   7.000000e-28
141                             ENSP00000339247   2.000000e-93
142                             ENSP00000371400   2.000000e-93
146                             ENSP00000350723            NaN
158                             ENSP00000355565   1.000000e-20
179                             ENSP00000310180   1.000000e-13
180                             ENSP00000310180   1.000000e-13
200                             ENSP00000297332   2.000000e-51
209                             ENSP00000262366   1.000000e-04
210                             ENSP00000318057   1.000000e-04
211                             ENSP00000361373   1.000000e-04
212                             ENSP00000370556   1.000000e-04
213                             ENSP00000371382   1.000000e-04
220                             ENSP00000266564   6.000000e-44
229                                         NaN            NaN
230                                         NaN            NaN
231                                         NaN            NaN
232                                         NaN            NaN

             Ensembl Gene ID HGNC Gene\nNamed  \
index_input
11           ENSG00000113384              NaN
23                       NaN            PDCD6
24           ENSG00000063438             AHRR
25                       NaN            PDCD6
30                       NaN           TXNDC5
32                       NaN              PDF
34           ENSG00000122958           VPS26A
39           ENSG00000188566            NDOR1
72           ENSG00000101246              NaN
80           ENSG00000106404             FIS1
97           ENSG00000113161            HMGCR
99           ENSG00000086065            CHMP5
114          ENSG00000154710          RABGEF1
123          ENSG00000177732            SOX12
126          ENSG00000143815              LBR
137          ENSG00000143891             GALM
141          ENSG00000101266          CSNK2A1
142          ENSG00000101266          CSNK2A1
146          ENSG00000124222            STX16
158          ENSG00000188739            RBM34
179          ENSG00000055955           MUSTN1
180          ENSG00000055955          TMEM110
200          ENSG00000085511           MAP3K4
209          ENSG00000126603            GLIS2
210          ENSG00000179388             EGR3
211          ENSG00000171872            KLF17
212          ENSG00000179388             EGR3
213          ENSG00000109787             KLF3
220          ENSG00000139197             PEX5
229                      NaN              NaN
230                      NaN              NaN
231                      NaN              NaN
232                      NaN              NaN

                                                           orf
index_input
11                                                         NAN
23                                                         NAN
24                                                         NAN
25                                                         NAN
30                                                         NAN
32                                                         NAN
34                                                         NAN
39                                                         NAN
72                                                         NAN
80                                                         NAN
97                                                         NAN
99                                                         NAN
114                                                        NAN
123                                                        NAN
126                                                        NAN
137                                                        NAN
141                                                        NAN
142                                                        NAN
146                                                        NAN
158                                                        NAN
179                                                        NAN
180                                                        NAN
200                                                        NAN
209                                                        NAN
210                                                        NAN
211                                                        NAN
212                                                        NAN
213                                                        NAN
220                                                        NAN
229          ATHEFITNESSSCOREISAMEASUREOFTHERELATIVEGROWTHO...
230          BINFORMATIONFORHOMOLOGOUSGENESINHUMANSWASOBTAI...
231          CTHEEXPECTTHRESHOLDE-VALUEREPRESENTSTHENUMBERO...
232          DGENENAMEASINDICATEDBYTHEHUGOGENENOMENCLATUREC...
(200, 1)

In [11]:
# Merge
original_data = pd.concat(original_data_list, axis=1)

In [13]:
original_data.index.name = 'orf'

In [15]:
original_data[original_data.isnull()] = 0

In [16]:
original_data.head()

         data  data
orf
YBR036C -2.79 -2.59
YCR028C -1.42  0.00
YCR031C -1.94  0.00
YDL118W -1.47 -1.91
YDR004W -1.69  0.00

In [17]:
original_data.shape

(247, 2)

# Prepare the final dataset

In [18]:
data = original_data.copy()

In [19]:
dataset_ids = [501, 1346]
datasets = datasets.reindex(index=dataset_ids)

In [20]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [21]:
data.head()

dataset_id  501   1346
data_type  value value
orf
YBR036C    -2.79 -2.59
YCR028C    -1.42  0.00
YCR031C    -1.94  0.00
YDL118W    -1.47 -1.91
YDR004W    -1.69  0.00

## Subset to the genes currently in SGD

In [22]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 0

In [23]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id       501   1346
data_type       value value
gene_id orf
232     YBR036C -2.79 -2.59
586     YCR028C -1.42  0.00
588     YCR031C -1.94  0.00
1996    YDL118W -1.47 -1.91
2131    YDR004W -1.69  0.00

# Normalize

In [24]:
data_norm = normalize_phenotypic_scores(data, has_tested=False)

In [25]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [26]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id       501   1346       501       1346
data_type       value value     valuez    valuez
gene_id orf
232     YBR036C -2.79 -2.59 -13.489098 -5.118381
586     YCR028C -1.42  0.00  -6.871409 -0.034105
588     YCR031C -1.94  0.00  -9.383232 -0.034105
1996    YDL118W -1.47 -1.91  -7.112930 -3.783513
2131    YDR004W -1.69  0.00  -8.175625 -0.034105

# Print out

In [27]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [28]:
from IO.save_data_to_db3 import *

In [29]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/2 [00:00<?, ?it/s]

Deleting all datasets for PMID 17785683...
Inserting the new data...

100%|██████████| 2/2 [00:00<00:00,  2.02it/s]

Updating the data_modified_on field...