In [3]:
%run ../../Utils/yp_utils.py

# Initial setup

In [4]:
paper_pmid = 31885205
paper_name = 'galardini_beltrao_2019'

In [5]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [6]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [12]:
original_data = pd.read_csv('raw_data/Table_EV2_ko_scores.txt', sep='\t', skiprows=2)

In [15]:
original_data = original_data.loc[original_data['strain']=='S288C',:]

In [16]:
print('Original data dimensions: %d x %d' % (original_data.shape))

Original data dimensions: 221555 x 7

In [21]:
original_data2 = original_data.groupby(['condition','gene'])['score'].mean().reset_index()

In [23]:
original_data3 = pd.pivot_table(original_data2, index='gene', columns='condition', values='score')

In [24]:
original_data3.shape

(4889, 38)

In [33]:
original_data3['orfs'] = original_data3.index.values.astype(str)

In [34]:
# Eliminate all white spaces & capitalize
original_data3['orfs'] = clean_orf(original_data3['orfs'])

In [35]:
# Fix typos
original_data3.loc[original_data3['orfs']=='YLR287-A','orfs'] = 'YLR287C-A'

In [36]:
# Translate to ORFs 
original_data3['orfs'] = translate_sc(original_data3['orfs'], to='orf')

In [37]:
# Make sure everything translated ok
t = looks_like_orf(original_data3['orfs'])
print(original_data3.loc[~t,])
# Output: found 22 inexisting ORFs and WT

condition    2,4-Dichlorophenoxyacetic acid (48H)  39ºC (48H)  39ºC (72H)  \
index_input
WT                                       0.106202    0.224502    0.285540
YAR037W                                  1.502639   -0.487772   -0.136703
YAR040C                                 -2.018356    0.233355   -0.061323
YAR043C                                 -0.269313   -0.335730    0.086679
YCL006C                                  0.436132   -0.152394    0.108633
YCL013W                                 -0.351663    0.410026   -0.089002
YCL026C                                 -0.486873   -0.600623    0.095393
YCL074W                                  0.211112    0.278586    0.058407
YCL075W                                  0.132772    0.398907    0.173588
YDR134C                                  0.353653    0.826668    0.441954
YER108C                                  1.520707   -0.842644   -0.186131
YER109C                                 -0.189042    0.232464    0.206137
YFL056C                                 -0.212347    0.231481    0.218893
YIL167W                                 -0.394296    0.123119    0.050265
YIL168W                                 -0.423554   -0.016144   -0.020836
YIL170W                                  0.322728    0.508503    0.479835
YIR043C                                  0.393695   -0.275156   -0.006722
YIR044C                                  0.667075    0.292521   -0.036403
YLL016W                                  0.589703    0.261341   -0.187103
YLL017W                                  1.069400   -0.005143   -0.014076
YOL153C                                  0.029418   -0.197605    0.249308
YOR031W                                 -0.280157    0.896694    1.248887
YPL183W                                  1.867508   -1.050527   -0.652934

condition    5-FU (48H)  6-AU (48H)  6-AU + 39ºC (48H)  6-AU + 39ºC (72H)  \
index_input
WT            -0.187358   -0.015120          -0.024745          -0.035259
YAR037W        0.440456    1.686076          -1.740156          -1.831864
YAR040C        2.362906   -0.414687           0.156150          -0.089080
YAR043C        0.667907    0.983155          -0.582949          -0.520100
YCL006C        0.548894    0.564705          -0.047683          -0.041938
YCL013W        0.414001    0.589212          -0.491059          -0.701352
YCL026C        1.012540   -0.124262          -0.150244          -0.198241
YCL074W       -0.077094    0.901176          -0.131707          -0.212620
YCL075W       -0.807103   -0.699610          -0.232727          -0.335199
YDR134C       -0.842905   -0.398093           0.858018           0.879730
YER108C        0.729039   -0.187374          -0.590528          -0.678413
YER109C        0.142381    0.182556           0.013606           0.033517
YFL056C       -0.098831   -0.497564           0.370391           0.264956
YIL167W        0.762165    0.136478           0.356500           0.473014
YIL168W        1.869664    0.335863          -0.138763          -0.049716
YIL170W       -0.717915   -0.652200          -0.004395           0.168937
YIR043C        0.902848    0.313024          -1.556183          -1.154508
YIR044C       -0.394439   -0.409463           0.051886          -0.249107
YLL016W       -0.456898    0.411158          -0.008217          -0.099542
YLL017W        0.407640   -0.179245          -0.909748          -0.932476
YOL153C        0.493256    0.939889          -0.337092          -0.063223
YOR031W       -1.024548    0.568843           0.574069           0.765026
YPL183W       -0.145765   -0.272420          -1.082683          -1.110547

condition    Acetic acid (48H)  Amphotericin B (48H)  \
index_input
WT                    0.135630              0.003378
YAR037W               0.343699              1.289019
YAR040C              -1.125701             -2.624327
YAR043C              -0.940228             -0.625816
YCL006C              -0.690415             -0.403708
YCL013W              -0.443742             -0.083915
YCL026C              -3.309588             -0.657525
YCL074W               1.265195              0.880739
YCL075W              -0.065892              0.072669
YDR134C               1.357061              0.546463
YER108C               0.987225             -0.123881
YER109C              -0.717616             -0.155659
YFL056C                    NaN              0.010933
YIL167W              -0.374980             -0.024617
YIL168W              -1.093192             -1.367263
YIL170W               0.496530             -0.108214
YIR043C              -1.237437             -0.765490
YIR044C               0.894987             -0.236438
YLL016W              -1.149072             -0.256279
YLL017W              -1.909454             -1.136857
YOL153C              -0.086771             -0.280141
YOR031W               0.519261              0.420470
YPL183W               0.590618              0.197346

condition    Amphotericin B + anaerobic (48H)  ...  NaCl 0.6M + 39ºC (48H)  \
index_input                                    ...
WT                                  -0.166198  ...               -0.047008
YAR037W                             -0.618949  ...               -1.249519
YAR040C                             -1.601714  ...               -0.387130
YAR043C                              0.517573  ...                0.631825
YCL006C                              0.141915  ...                0.040603
YCL013W                             -0.699540  ...               -0.367325
YCL026C                             -0.465806  ...               -0.058598
YCL074W                              0.175835  ...               -0.357423
YCL075W                              0.826574  ...                0.174315
YDR134C                              0.060450  ...               -0.022274
YER108C                             -0.274303  ...               -0.897507
YER109C                             -0.203819  ...               -0.197794
YFL056C                              0.145756  ...                0.187167
YIL167W                             -0.430953  ...                0.485570
YIL168W                             -1.867724  ...               -0.578249
YIL170W                              0.087467  ...                0.848691
YIR043C                              0.365350  ...               -0.112924
YIR044C                              0.279772  ...                0.288045
YLL016W                             -0.687804  ...               -0.773726
YLL017W                             -0.761166  ...               -0.307327
YOL153C                             -0.508456  ...                0.644614
YOR031W                             -0.138040  ...               -0.157702
YPL183W                             -0.798822  ...               -0.820569

condition    NaCl 0.6M + 39ºC (72H)  NiSO4 (48H)  Nitrogen starvation (48H)  \
index_input
WT                        -0.042210    -0.103248                   0.202101
YAR037W                   -0.857266    -1.658872                   0.771572
YAR040C                   -0.708503    -2.890011                   0.171115
YAR043C                    0.654665     0.153351                   0.506946
YCL006C                   -0.077560    -0.079818                  -0.497576
YCL013W                   -0.503230     0.027391                  -1.178153
YCL026C                    0.092790    -0.332726                  -0.680713
YCL074W                    0.290682    -0.190158                  -0.109321
YCL075W                   -0.124678     0.326070                  -0.425338
YDR134C                   -0.120741     0.690040                  -0.079620
YER108C                   -0.769348    -1.316118                   0.192696
YER109C                   -0.232553     0.046535                   0.120514
YFL056C                    0.012955     0.259436                   0.059368
YIL167W                    0.604224    -0.377917                   0.384320
YIL168W                   -0.518278    -1.263768                   0.815507
YIL170W                    0.673469     0.426120                   0.879643
YIR043C                   -0.154316    -0.310421                   0.684548
YIR044C                   -0.015235     0.050136                  -0.737140
YLL016W                   -0.414950    -0.198320                   0.430610
YLL017W                   -0.012291    -1.229016                  -0.817038
YOL153C                    1.071694    -0.639370                  -0.451802
YOR031W                    0.167547    -0.216885                   1.877346
YPL183W                   -0.670660     0.081101                   0.565094

condition    Paraquat (48H)  Paraquat (72H)  SC + hepes (48H)  \
index_input
WT                -0.216166       -0.073197          0.145363
YAR037W           -0.851036       -0.540472          0.492867
YAR040C           -1.908187       -2.055751          1.995527
YAR043C           -0.442315       -0.290480          0.361603
YCL006C           -0.541502       -0.562575         -0.282062
YCL013W           -0.062700       -0.044135          0.120848
YCL026C           -1.062678       -0.891805          0.084272
YCL074W           -0.196025       -0.266922         -0.718484
YCL075W           -0.105707       -0.107969         -0.781717
YDR134C           -0.120861        0.100074         -0.229353
YER108C           -0.790163       -0.400364          0.863802
YER109C           -0.269151       -0.191031         -0.175421
YFL056C           -0.024709        0.283872         -0.335703
YIL167W           -1.336844       -1.247971          0.051124
YIL168W           -1.609449       -1.101503          1.854804
YIL170W           -0.024854        0.266730         -0.111317
YIR043C           -1.318597       -1.257211          0.611843
YIR044C            0.059852        0.230236         -0.138724
YLL016W           -0.062456       -0.220386         -0.004824
YLL017W            1.424656        1.509699         -0.117006
YOL153C            0.060768        0.152566         -0.535489
YOR031W           -0.156087        0.112838          1.368723
YPL183W            0.220222        0.389573          0.517568

condition    Sorbitol 1M (48H)  aa starvation (48H)  orfs
index_input
WT                    0.040774            -0.144896   NaN
YAR037W               1.226961             1.229568   NaN
YAR040C               1.114343            -0.210756   NaN
YAR043C               1.472345             0.150820   NaN
YCL006C               0.810587             0.225134   NaN
YCL013W               0.396015             0.187184   NaN
YCL026C               0.746199             1.136353   NaN
YCL074W              -0.394890             0.113718   NaN
YCL075W              -0.574840            -1.059818   NaN
YDR134C              -1.387702            -1.243040   NaN
YER108C               0.864896             0.449886   NaN
YER109C              -0.100342            -0.273717   NaN
YFL056C              -0.609990            -0.180643   NaN
YIL167W               0.271165             0.736610   NaN
YIL168W               1.188688             1.314504   NaN
YIL170W              -0.516689            -0.060063   NaN
YIR043C               1.219256             0.844735   NaN
YIR044C              -0.598120            -0.438341   NaN
YLL016W              -0.088782            -1.727660   NaN
YLL017W               0.304414            -0.992092   NaN
YOL153C               0.223082            -0.682440   NaN
YOR031W              -0.085855            -1.053041   NaN
YPL183W               0.845541             4.039025   NaN

[23 rows x 39 columns]

In [38]:
original_data3 = original_data3.loc[t,:]

In [39]:
original_data3.set_index('orfs', inplace=True)
original_data3.index.name='orf'

In [40]:
original_data3 = original_data3.groupby(original_data3.index).mean()

In [41]:
original_data3.shape

(4838, 38)

# Load dataset ids

In [62]:
dataset_id_map = pd.read_excel('raw_data/msb198831-sup-0002-tableev1.xlsx', encoding='utf-8',
                               sheet_name='Sheet1', header=None)

In [63]:
dataset_id_map[0] = dataset_id_map[0].apply(lambda x: x.replace('Â',''))

In [65]:
dataset_id_map.set_index(0, inplace=True)

In [66]:
dataset_id_map = dataset_id_map.reindex(index=original_data3.columns.values)

In [68]:
dataset_ids = list(dataset_id_map[1])

# Prepare the final dataset

In [70]:
data = original_data3.copy()

In [71]:
datasets = datasets.reindex(index=dataset_ids)

In [72]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [73]:
data.head()

dataset_id,16349,16351,16385,16353,16354,16355,16386,16356,16357,16358,...,16390,16374,16391,16375,16382,16377,16392,16384,16378,16383
data_type,value,value,value,value,value,value,value,value,value,value,...,value,value,value,value,value,value,value,value,value,value
orf,,,,,,,,,,,,,,,,,,,,,
YAL002W,-6.027977,-1.966362,-1.437009,-1.945708,1.345415,-3.148804,-3.282090,-2.645313,0.198431,-0.647809,...,0.982522,-0.750200,-0.634745,2.735846,-0.017735,0.823463,1.020318,1.714669,1.396525,-0.536990
YAL004W,0.086213,0.294230,0.897366,-0.816921,0.591333,0.509435,0.572919,1.242551,0.541600,-0.459679,...,-0.716532,-0.339391,-0.160671,-1.064505,1.808986,-1.166473,-0.948275,1.365731,1.105575,-0.052912
YAL005C,-0.875837,-0.952093,-0.462713,0.930383,0.900128,-1.521974,-1.627128,-0.263197,0.075423,-0.121187,...,-0.603338,-0.585939,-0.223783,-0.196172,0.870998,-0.600152,-0.427590,0.175162,1.375118,2.872251
YAL007C,0.118975,0.708104,0.424890,-0.318803,-1.143170,-0.062520,-0.197061,0.126095,0.152684,0.253159,...,0.578599,-0.029965,-0.172207,0.338149,0.025946,-0.074581,0.055680,-0.118836,-1.090361,0.032435
YAL008W,1.246915,0.863167,0.842147,-0.182611,-0.067659,0.387749,0.256179,0.012162,0.710225,0.298724,...,-0.212906,-0.356066,-0.638409,0.290235,-0.151671,0.126812,0.102794,-1.002664,-1.455795,-0.487320

## Subset to the genes currently in SGD

In [74]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 1

In [75]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

In [76]:
data.head()

,dataset_id,16349,16351,16385,16353,16354,16355,16386,16356,16357,16358,...,16390,16374,16391,16375,16382,16377,16392,16384,16378,16383
,data_type,value,value,value,value,value,value,value,value,value,value,...,value,value,value,value,value,value,value,value,value,value
gene_id,orf,,,,,,,,,,,,,,,,,,,,,
2,YAL002W,-6.027977,-1.966362,-1.437009,-1.945708,1.345415,-3.148804,-3.282090,-2.645313,0.198431,-0.647809,...,0.982522,-0.750200,-0.634745,2.735846,-0.017735,0.823463,1.020318,1.714669,1.396525,-0.536990
1863,YAL004W,0.086213,0.294230,0.897366,-0.816921,0.591333,0.509435,0.572919,1.242551,0.541600,-0.459679,...,-0.716532,-0.339391,-0.160671,-1.064505,1.808986,-1.166473,-0.948275,1.365731,1.105575,-0.052912
4,YAL005C,-0.875837,-0.952093,-0.462713,0.930383,0.900128,-1.521974,-1.627128,-0.263197,0.075423,-0.121187,...,-0.603338,-0.585939,-0.223783,-0.196172,0.870998,-0.600152,-0.427590,0.175162,1.375118,2.872251
5,YAL007C,0.118975,0.708104,0.424890,-0.318803,-1.143170,-0.062520,-0.197061,0.126095,0.152684,0.253159,...,0.578599,-0.029965,-0.172207,0.338149,0.025946,-0.074581,0.055680,-0.118836,-1.090361,0.032435
6,YAL008W,1.246915,0.863167,0.842147,-0.182611,-0.067659,0.387749,0.256179,0.012162,0.710225,0.298724,...,-0.212906,-0.356066,-0.638409,0.290235,-0.151671,0.126812,0.102794,-1.002664,-1.455795,-0.487320

# Normalize

In [77]:
data_norm = normalize_phenotypic_scores(data, has_tested=True)

In [78]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [79]:
data_norm[data.isnull()] = np.nan

In [80]:
data_all = data.join(data_norm)

In [81]:
data_all.head()

,dataset_id,16349,16351,16385,16353,16354,16355,16386,16356,16357,16358,...,16390,16374,16391,16375,16382,16377,16392,16384,16378,16383
,data_type,value,value,value,value,value,value,value,value,value,value,...,valuez,valuez,valuez,valuez,valuez,valuez,valuez,valuez,valuez,valuez
gene_id,orf,,,,,,,,,,,,,,,,,,,,,
2,YAL002W,-6.027977,-1.966362,-1.437009,-1.945708,1.345415,-3.148804,-3.282090,-2.645313,0.198431,-0.647809,...,1.556762,-0.920472,-0.822961,2.624789,0.000356,1.475570,1.441070,1.748657,1.263195,-0.363666
1863,YAL004W,0.086213,0.294230,0.897366,-0.816921,0.591333,0.509435,0.572919,1.242551,0.541600,-0.459679,...,-1.066656,-0.304253,-0.158967,-1.090058,2.242069,-1.286525,-1.221271,1.407881,0.961066,-0.065056
4,YAL005C,-0.875837,-0.952093,-0.462713,0.930383,0.900128,-1.521974,-1.627128,-0.263197,0.075423,-0.121187,...,-0.891879,-0.674078,-0.247362,-0.241262,1.090991,-0.500453,-0.517092,0.245158,1.240964,1.739368
5,YAL007C,0.118975,0.708104,0.424890,-0.318803,-1.143170,-0.062520,-0.197061,0.126095,0.152684,0.253159,...,0.933087,0.159889,-0.175125,0.281037,0.053960,0.229056,0.136485,-0.041964,-1.319244,-0.012409
6,YAL008W,1.246915,0.863167,0.842147,-0.182611,-0.067659,0.387749,0.256179,0.012162,0.710225,0.298724,...,-0.289034,-0.329266,-0.828093,0.234202,-0.164008,0.508596,0.200203,-0.905120,-1.698720,-0.333026

# Print out

In [82]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [83]:
from IO.save_data_to_db3 import *

In [84]:
save_data_to_db(data_all, paper_pmid)

Deleting all datasets for PMID 31885205...

  0%|          | 0/38 [00:00<?, ?it/s]

Inserting the new data...

100%|██████████| 38/38 [04:39<00:00,  7.35s/it]

Updating the data_modified_on field...