In [1]:
%run ../../Utils/yp_utils.py

# Initial setup

In [2]:
paper_pmid = 20944018
paper_name = 'gresham_botstein_2011'

In [3]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [4]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [5]:
files = ['TABLES4.xlsx','TABLES5.xlsx']
sheets = ['phoAbs.txt','leuAbs.txt']

In [6]:
original_data_list = []
for ixf, f in enumerate(files):
    original_data = pd.read_excel('raw_data/' + f, sheet_name=sheets[ixf])
    print('Original data dimensions: %d x %d' % (original_data.shape))
#     print(original_data.head())
    original_data['gene'] = original_data['gene'].astype(str)
    original_data['gene'] = original_data['gene'].apply(lambda x: x.split('_')[0])
    original_data['gene'] = clean_genename(original_data['gene'])
    original_data['orf'] = translate_sc(original_data['gene'], to='orf')
    t = looks_like_orf(original_data['orf'])
    print(original_data.loc[~t,])
    original_data = original_data.loc[t,:]
    original_data['data'] = original_data['halflife'].astype(float)
    original_data.set_index('orf', inplace=True)
    
    original_data = original_data[['data']].copy()
    original_data = original_data.groupby(original_data.index).mean()
    print(original_data.shape)
    
    original_data_list.append(original_data)

Original data dimensions: 6806 x 10
              gene  deathrate   p-value   q-value        SD  \
index_input
156           FLO8   0.003366  0.000041  0.000187  0.000251
186           FLO8   0.002343  0.000050  0.000190  0.000181
240           YSN1   0.001897  0.000067  0.000195  0.000156
322           WSP1   0.002659  0.000093  0.000205  0.000234
629           CRS5   0.002406  0.000197  0.000226  0.000248
763           SDL1   0.002106  0.000258  0.000244  0.000230
800           WSP1   0.002943  0.000275  0.000248  0.000325
913          SDC25   0.002334  0.000331  0.000261  0.000268
1412          MNI2   0.003401  0.000599  0.000306  0.000443
1440         FMP35   0.007090  0.000616  0.000309  0.000929
1559         TMA29   0.002595  0.000718  0.000332  0.000352
1567          YSN1   0.002056  0.000727  0.000334  0.000279
1891         FMP31   0.002714  0.001030  0.000393  0.000398
2722         SDC25   0.002492  0.002396  0.000636  0.000440
2773          CRS5   0.002510  0.002508  0.000653  0.000448
3027          MNI2   0.002824  0.003178  0.000758  0.000532
3083         HXT12   0.001358  0.003330  0.000780  0.000259
3392          FLO8   0.003058  0.004461  0.000950  0.000624
3813         FMP35   0.007233  0.006856  0.001299  0.001634
5455         FMP31   0.005990  0.064580  0.008554  0.002536
6340          ZSP1  -0.000513  0.448038  0.051062  0.000623
6499          AAD6  -0.003054  0.605659  0.067337  0.005547

             low-confidence interval  upper-confidence interval     halflife  \
index_input
156                         0.002722                   0.004010   205.904848
186                         0.001877                   0.002810   295.808980
240                         0.001496                   0.002298   365.479570
322                         0.002056                   0.003261   260.721372
629                         0.001768                   0.003043   288.122356
763                         0.001516                   0.002697   329.080269
800                         0.002107                   0.003779   235.493510
913                         0.001645                   0.003023   296.976486
1412                        0.002262                   0.004541   203.786398
1440                        0.004701                   0.009479    97.768287
1559                        0.001691                   0.003499   267.107400
1567                        0.001338                   0.002773   337.207083
1891                        0.001692                   0.003737   255.357755
2722                        0.001360                   0.003623   278.197114
2773                        0.001358                   0.003662   276.199959
3027                        0.001456                   0.004192   245.469571
3083                        0.000693                   0.002024   510.274342
3392                        0.001455                   0.004662   226.634492
3813                        0.003032                   0.011434    95.836591
5455                       -0.000529                   0.012508   115.722645
6340                       -0.002116                   0.001090 -1351.098100
6499                       -0.017313                   0.011206  -226.983284

              tag Hyperlink    orf
index_input
156          down      FLO8   FLO8
186          down    FLO8_p   FLO8
240          down      YSN1   YSN1
322          down      WSP1   WSP1
629          down      CRS5   CRS5
763          down      SDL1   SDL1
800            up      WSP1   WSP1
913          down     SDC25  SDC25
1412         down      MNI2   MNI2
1440           up     FMP35  FMP35
1559         down     TMA29  TMA29
1567           up      YSN1   YSN1
1891         down     FMP31  FMP31
2722           up     SDC25  SDC25
2773           up      CRS5   CRS5
3027           up      MNI2   MNI2
3083           up     HXT12  HXT12
3392           up      FLO8   FLO8
3813         down     FMP35  FMP35
5455           up     FMP31  FMP31
6340         down      ZSP1   ZSP1
6499           up      AAD6   AAD6
(4304, 1)
Original data dimensions: 6730 x 10
              gene  deathrate   p-value   q-value        SD  \
index_input
506           ZSP1   0.041306  0.000761  0.000533  0.005667
1780          FLO8   0.027149  0.536910  0.115080  0.040975
1781          FLO8   0.028920  0.247830  0.057301  0.022113
1782          FLO8   0.028721  0.162540  0.038860  0.017544
1937          AAD6   0.029943  0.000604  0.000475  0.003909
3072         FMP35   0.051411  0.000010  0.000070  0.002875
3073         FMP35   0.057865  0.291208  0.066592  0.049053
3090          SDL1   0.032707  0.000160  0.000267  0.003225
3093         HXT12   0.002070  0.531513  0.114207  0.003081
3094         HXT12   0.001217  0.294062  0.067197  0.001038
3921         SDC25   0.028828  0.000439  0.000410  0.003516
3922         SDC25   0.026998  0.001542  0.000774  0.004323
4913         TMA29   0.020941  0.011259  0.003426  0.005351
5510          YSN1   0.031879  0.004468  0.001627  0.006504
5511          YSN1   0.032966  0.001572  0.000783  0.005301
5757          CRS5   0.030618  0.001804  0.000861  0.005077
5758          CRS5   0.031563  0.000717  0.000515  0.004275
5974          WSP1   0.027842  0.002240  0.000989  0.004846
5975          WSP1   0.028755  0.001931  0.000895  0.004841
6052         FMP31   0.038815  0.000024  0.000108  0.002585
6053         FMP31   0.044883  0.000574  0.000461  0.005795
6561          MNI2   0.029625  0.006593  0.002202  0.006631
6562          MNI2   0.030017  0.001902  0.000887  0.005036

             low-confidence interval  upper-confidence interval    halflife  \
index_input
506                         0.026738                   0.055874   16.780713
1780                       -0.078179                   0.132478   25.530902
1781                       -0.027924                   0.085764   23.967456
1782                       -0.016377                   0.073820   24.133668
1937                        0.019896                   0.039990   23.148701
3072                        0.044020                   0.058801   13.482584
3073                       -0.068230                   0.183961   11.978606
3090                        0.024417                   0.040997   21.192588
3093                       -0.005850                   0.009990  334.888356
3094                       -0.001452                   0.003885  569.749077
3921                        0.019789                   0.037867   24.044265
3922                        0.015885                   0.038111   25.673739
4913                        0.007185                   0.034697   33.100511
5510                        0.015160                   0.048598   21.742752
5511                        0.019338                   0.046594   21.026192
5757                        0.017567                   0.043669   22.638758
5758                        0.020573                   0.042553   21.960793
5974                        0.015385                   0.040299   24.895882
5975                        0.016311                   0.041200   24.105004
6052                        0.032170                   0.045460   17.857644
6053                        0.029986                   0.059780   15.443520
6561                        0.012580                   0.046670   23.397410
6562                        0.017071                   0.042962   23.092181

              tag Hyperlink    orf
index_input
506          down      ZSP1   ZSP1
1780         down    FLO8_p   FLO8
1781         down      FLO8   FLO8
1782           up      FLO8   FLO8
1937           up      AAD6   AAD6
3072         down     FMP35  FMP35
3073           up     FMP35  FMP35
3090         down      SDL1   SDL1
3093         down     HXT12  HXT12
3094           up     HXT12  HXT12
3921         down     SDC25  SDC25
3922           up     SDC25  SDC25
4913         down     TMA29  TMA29
5510         down      YSN1   YSN1
5511           up      YSN1   YSN1
5757         down      CRS5   CRS5
5758           up      CRS5   CRS5
5974         down      WSP1   WSP1
5975           up      WSP1   WSP1
6052         down     FMP31  FMP31
6053           up     FMP31  FMP31
6561         down      MNI2   MNI2
6562           up      MNI2   MNI2
(4260, 1)

In [7]:
original_data = pd.concat(original_data_list, axis=1)

In [8]:
original_data.index.name='orf'

In [9]:
original_data.shape

(4317, 2)

In [10]:
original_data.head()

               data       data
orf
YAL002W   54.827553  28.600328
YAL004W  376.148747  15.677022
YAL005C  255.345049  18.101803
YAL007C  453.525695  28.618490
YAL008W  555.615837  45.128964

# Prepare the final dataset

In [11]:
data = original_data.copy()

In [12]:
dataset_ids = [93,451]
datasets = datasets.reindex(index=dataset_ids)

In [13]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [14]:
data.head()

dataset_id         93         451
data_type        value      value
orf
YAL002W      54.827553  28.600328
YAL004W     376.148747  15.677022
YAL005C     255.345049  18.101803
YAL007C     453.525695  28.618490
YAL008W     555.615837  45.128964

## Subset to the genes currently in SGD

In [15]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 12

In [16]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id              93         451
data_type             value      value
gene_id orf
2       YAL002W   54.827553  28.600328
1863    YAL004W  376.148747  15.677022
4       YAL005C  255.345049  18.101803
5       YAL007C  453.525695  28.618490
6       YAL008W  555.615837  45.128964

# Normalize

In [38]:
# Cap the maximum value at 1e10 (due to the database field limitations)
data[data > 1e9] = 1e9
data[data < -1e9] = -1e9

In [39]:
data_norm = normalize_phenotypic_scores(data, has_tested=True)

In [40]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [41]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id              93         451       93        451
data_type             value      value    valuez    valuez
gene_id orf
2       YAL002W   54.827553  28.600328 -0.164015 -0.356347
1863    YAL004W  376.148747  15.677022 -0.091490 -0.356348
4       YAL005C  255.345049  18.101803 -0.118757 -0.356348
5       YAL007C  453.525695  28.618490 -0.074026 -0.356347
6       YAL008W  555.615837  45.128964 -0.050984 -0.356347

# Print out

In [42]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [43]:
from IO.save_data_to_db3 import *

In [44]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/2 [00:00<?, ?it/s]

Deleting all datasets for PMID 20944018...
Inserting the new data...

100%|██████████| 2/2 [00:12<00:00,  6.33s/it]

Updating the data_modified_on field...