In [1]:
%run ../yp_utils.py

# Initial setup

In [2]:
paper_pmid = 23690178
paper_name = 'peters_benaroya_2013'

In [3]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [4]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [5]:
original_data = pd.read_csv('raw_data/table1.txt', sep='\t')

In [6]:
print('Original data dimensions: %d x %d' % (original_data.shape))

Original data dimensions: 11 x 3

In [7]:
original_data.head()

                                         Description Gene name ORF name
0  Subunit d of the five-subunit V0 integral memb...      VMA6  YLR447C
1  Peripheral membrane protein that is required f...     VMA22  YHR060W
2  V-ATPase V0 domain subunit c′, involved in pro...      TFP3  YPL234C
3  Subunit C of the eight-subunit V1 peripheral m...      VMA5  YKL080W
4  Subunit B of the eight-subunit V1 peripheral m...      VMA2  YBR127C

In [8]:
original_data['orf'] = original_data['ORF name'].astype(str)

In [9]:
# Eliminate all white spaces & capitalize
original_data['orf'] = clean_orf(original_data['orf'])

In [10]:
# Translate to ORFs 
original_data['orf'] = translate_sc(original_data['orf'], to='orf')

In [11]:
# Make sure everything translated ok
t = looks_like_orf(original_data['orf'])
print(original_data.loc[~t,])

Empty DataFrame
Columns: [Description, Gene name, ORF name, orf]
Index: []

In [12]:
original_data['data'] = -1

In [13]:
original_data.set_index('orf', inplace=True)

In [14]:
original_data = original_data[['data']].copy()

In [15]:
original_data = original_data.groupby(original_data.index).mean()

In [16]:
original_data.shape

(11, 1)

# Prepare the final dataset

In [17]:
data = original_data.copy()

In [18]:
dataset_ids = [15985]
datasets = datasets.reindex(index=dataset_ids)

In [19]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [20]:
data.head()

dataset_id 15985
data_type  value
orf
YBR058C-A     -1
YBR127C       -1
YCL007C       -1
YDL185W       -1
YER143W       -1

## Subset to the genes currently in SGD

In [21]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 0

In [22]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id        15985
data_type         value
gene_id orf
6171    YBR058C-A    -1
321     YBR127C      -1
501     YCL007C      -1
2064    YDL185W      -1
871     YER143W      -1

# Normalize

In [23]:
data_norm = normalize_phenotypic_scores(data, has_tested=False)

In [24]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [25]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id        15985
data_type         value     valuez
gene_id orf
6171    YBR058C-A    -1 -20.349224
321     YBR127C      -1 -20.349224
501     YCL007C      -1 -20.349224
2064    YDL185W      -1 -20.349224
871     YER143W      -1 -20.349224

# Print out

In [26]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [27]:
from IO.save_data_to_db3 import *

In [28]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/1 [00:00<?, ?it/s]

Deleting all datasets for PMID 23690178...
Inserting the new data...

100%|██████████| 1/1 [00:00<00:00, 11.66it/s]

Updating the data_modified_on field...