In [1]:
%run ../yp_utils.py

# Initial setup

In [2]:
paper_pmid = 20498295
paper_name = 'dakshinamurthy_garfinkel_2010'

In [39]:
datasets = pd.read_csv('extras/YeastPhenome_' + str(paper_pmid) + '_datasets_list.txt', sep='\t', header=None, names=['dataset_id', 'name'])

In [40]:
datasets.set_index('dataset_id', inplace=True)

# Load & process the data

In [8]:
original_data = pd.read_excel('raw_data/TableS1-2.xlsx', sheet_name='Sheet2', skiprows=3)

In [9]:
print('Original data dimensions: %d x %d' % (original_data.shape))

Original data dimensions: 173 x 15

In [10]:
original_data.head()

,Gene deleted,Unnamed: 1,Decrease in Ty1his3-AI mobility,Unnamed: 3,Unnamed: 4,Function,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,AAH1,YNL141W,*,"Adenine deaminase (adenine aminohydrolase), co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGE1,YDR524C,**,ADP-ribosylation factor (ARF) GTPase activatin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AKR1,YDR264C,***,Palmitoyl transferase involved in protein palm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APQ12,YIL040W,**,Protein involved in nucleocytoplasmic transpor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARP5,YNL059C,***,Nuclear actin-related protein involved in chro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
original_data['orf'] = original_data['Unnamed: 1'].astype(str)

In [12]:
# Eliminate all white spaces & capitalize
original_data['orf'] = clean_orf(original_data['orf'])

In [13]:
# Translate to ORFs 
original_data['orf'] = translate_sc(original_data['orf'], to='orf')

In [14]:
# Make sure everything translated ok
t = looks_like_orf(original_data['orf'])
print(original_data.loc[~t,])

                                                  Gene deleted Unnamed: 1  \
index_input
168                                                        NaN        NaN
169          Ty1 cofactor mutants analyzed for the level of...        NaN
170                                                        NaN        NaN
171          Ty1his3-AI mobility: * (modest decrease) **** ...        NaN
172          Data obtained from the SGD project. "Saccharom...        NaN

            Decrease in Ty1his3-AI mobility Unnamed: 3  Unnamed: 4  Function  \
index_input
168                                     NaN        NaN         NaN       NaN
169                                     NaN        NaN         NaN       NaN
170                                     NaN        NaN         NaN       NaN
171                                     NaN        NaN         NaN       NaN
172                                     NaN        NaN         NaN       NaN

             Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
index_input
168                 NaN         NaN         NaN         NaN          NaN
169                 NaN         NaN         NaN         NaN          NaN
170                 NaN         NaN         NaN         NaN          NaN
171                 NaN         NaN         NaN         NaN          NaN
172                 NaN         NaN         NaN         NaN          NaN

             Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  orf
index_input
168                  NaN          NaN          NaN          NaN  NAN
169                  NaN          NaN          NaN          NaN  NAN
170                  NaN          NaN          NaN          NaN  NAN
171                  NaN          NaN          NaN          NaN  NAN
172                  NaN          NaN          NaN          NaN  NAN

In [15]:
original_data = original_data.loc[t,:]

In [16]:
original_data.set_index('orf', inplace=True)

In [17]:
# These data describes a decrease in the number if His+ cells, thus a decrease in the frequency of Ty1 transposition
original_data['data'] = original_data['Decrease in Ty1his3-AI mobility'].apply(lambda x: -len(x))

In [18]:
original_data = original_data[['data']].copy()

In [19]:
original_data = original_data.groupby(original_data.index).mean()

In [20]:
original_data.shape

(168, 1)

# Load & process tested strains

In [23]:
tested = pd.read_excel('raw_data/Matalphakos counted.xlsx', sheet_name='Sheet2', skiprows=4)

In [24]:
tested.head()

,record,no.,ORF,name,strain,batch,plate,row,column,RG,notes,Consortium,Notes,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,10338,YAL068C,BY4739,01_1,101,A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10339,YAL067C,BY4739,01_1,101,A,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10340,YAL066W,BY4739,01_1,101,A,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10341,YAL065C,BY4739,01_1,101,A,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10345,YAL062W,BY4739,01_1,101,A,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
tested['orf'] = tested['no.'].astype(str)

In [26]:
tested['orf'] = clean_orf(tested['orf'])

In [29]:
typo_fixes = {'YLR228':'YLR228C','YMR062':'YMR062C','YYKL138C':'YKL138C'}
tested['orf'] = tested['orf'].apply(lambda x: typo_fixes[x] if x in typo_fixes.keys() else x)

In [30]:
tested['orf'] = translate_sc(tested['orf'], to='orf')

In [31]:
# Make sure everything translated ok
t = looks_like_orf(tested['orf'])
print(tested.loc[~t,])

             record                                    no.   ORF  name strain  \
index_input
1922           4742                                   05_2   121     D      7
1933             42                                   08_1   121     E      5
1944         BY4742                                   08_3   121     F      3
3282              1                                    NaN   NaN   NaN    NaN
4620            742                                  00_17   150     A     10
4689            NaN                                   slow  grow   NaN    NaN
4726            NaN                                   slow  grow   NaN    NaN
4739           grow                                    NaN   NaN   NaN    NaN
4776            row                                    NaN   NaN   NaN    NaN
4789              w                                    NaN   NaN   NaN    NaN
4801             ow  slow grow, no growth auxotrophy plate   NaN   NaN    NaN
4813            row                                   slow  grow   NaN    NaN
4823             42                                   12_4   171     E      2
4832              E                                     10    rg  slow   grow

                                                         batch   plate  \
index_input
1922         Failed qc-- growth-lys, ng -met, ng aux ,no  m...     NaN
1933                                                   R21-R30  FAILED
1944         Failed QC--growth -Lys, n/g -Met, n/g Aux, no ...     NaN
3282                                                       NaN     NaN
4620                                                        rg  growth
4689                                                       NaN     NaN
4726                                                       NaN     NaN
4739                                                       NaN     NaN
4776                                                       NaN     NaN
4789                                                       NaN     NaN
4801                                                       NaN     NaN
4813                                                       NaN     NaN
4823                                                        rg    slow
4832                                                       NaN     NaN

                    row column    RG notes Consortium Notes Unnamed: 13  \
index_input
1922                NaN    NaN   NaN   NaN        NaN   NaN         NaN
1933         QC-DIPLOID    NaN   NaN   NaN        NaN   NaN         NaN
1944                NaN    NaN   NaN   NaN        NaN   NaN         NaN
3282                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4620                 ok   slow  grow   NaN        NaN   NaN         NaN
4689                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4726                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4739                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4776                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4789                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4801                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4813                NaN    NaN   NaN   NaN        NaN   NaN         NaN
4823               grow   slow  grow   NaN        NaN   NaN         NaN
4832                NaN    NaN   NaN   NaN        NaN   NaN         NaN

            Unnamed: 14 Unnamed: 15 Unnamed: 16  \
index_input
1922                NaN         NaN         NaN
1933                NaN         NaN         NaN
1944                NaN         NaN         NaN
3282                NaN         NaN         NaN
4620                NaN         NaN         NaN
4689                NaN         NaN         NaN
4726                NaN         NaN         NaN
4739                NaN         NaN         NaN
4776                NaN         NaN         NaN
4789                NaN         NaN         NaN
4801                NaN         NaN         NaN
4813                NaN         NaN         NaN
4823                NaN         NaN         NaN
4832                NaN         NaN         NaN

                                         orf
index_input
1922                                     052
1933                                     081
1944                                     083
3282                                     NAN
4620                                    0017
4689                                    SLOW
4726                                    SLOW
4739                                     NAN
4776                                     NAN
4789                                     NAN
4801         SLOWGROWNOGROWTHAUXOTROPHYPLATE
4813                                    SLOW
4823                                     124
4832                                      10

In [32]:
tested = tested.loc[t,:]

In [33]:
tested_orfs = tested['orf'].unique()

In [34]:
missing = [orf for orf in original_data.index.values if orf not in tested_orfs]
missing

['YCL005W-A', 'YHR010W', 'YOL120C']

In [35]:
tested_orfs = list(tested_orfs) + missing

In [36]:
original_data = original_data.reindex(index=tested_orfs, fill_value=0)

# Prepare the final dataset

In [37]:
data = original_data.copy()

In [41]:
dataset_ids = [102]
datasets = datasets.reindex(index=dataset_ids)

In [42]:
lst = [datasets.index.values, ['value']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data.columns = idx

In [43]:
data.head()

dataset_id   102
data_type  value
orf
YAL068C        0
YAL067C        0
YAL066W        0
YAL065C        0
YAL062W        0

## Subset to the genes currently in SGD

In [44]:
genes = pd.read_csv(path_to_genes, sep='\t', index_col='id')
genes = genes.reset_index().set_index('systematic_name')
gene_ids = genes.reindex(index=data.index.values)['id'].values
num_missing = np.sum(np.isnan(gene_ids))
print('ORFs missing from SGD: %d' % num_missing)

ORFs missing from SGD: 30

In [45]:
data['gene_id'] = gene_ids
data = data.loc[data['gene_id'].notnull()]
data['gene_id'] = data['gene_id'].astype(int)
data = data.reset_index().set_index(['gene_id','orf'])

data.head()

dataset_id        102
data_type       value
gene_id orf
1869    YAL068C     0
61      YAL067C     0
60      YAL066W     0
1727    YAL065C     0
57      YAL062W     0

# Normalize

In [46]:
data_norm = normalize_phenotypic_scores(data, has_tested=True)

In [47]:
# Assign proper column names
lst = [datasets.index.values, ['valuez']*datasets.shape[0]]
tuples = list(zip(*lst))
idx = pd.MultiIndex.from_tuples(tuples, names=['dataset_id','data_type'])
data_norm.columns = idx

In [48]:
data_norm[data.isnull()] = np.nan
data_all = data.join(data_norm)

data_all.head()

dataset_id        102
data_type       value valuez
gene_id orf
1869    YAL068C     0    0.0
61      YAL067C     0    0.0
60      YAL066W     0    0.0
1727    YAL065C     0    0.0
57      YAL062W     0    0.0

# Print out

In [49]:
for f in ['value','valuez']:
    df = data_all.xs(f, level='data_type', axis=1).copy()
    df.columns = datasets['name'].values
    df = df.droplevel('gene_id', axis=0)
    df.to_csv(paper_name + '_' + f + '.txt', sep='\t')

# Save to DB

In [50]:
from IO.save_data_to_db3 import *

In [51]:
save_data_to_db(data_all, paper_pmid)

  0%|          | 0/1 [00:00<?, ?it/s]

Deleting all datasets for PMID 20498295...
Inserting the new data...

100%|██████████| 1/1 [00:08<00:00,  8.47s/it]

Updating the data_modified_on field...